<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="./img/favicon.ico">
    <title>{{title}}</title>
    {{>header}}
    <link rel="stylesheet" href="./styles/stylePages.css">
</head>

<body>
    <img src="img/portrait.jpg" style="width: 250px;">
    <h3>Sam Aripov</h4>
    {{>text}}
    <h4>This website uses Darksky to get the weather information.</h4>
    <h4>And an IPAPI to find your location!</h4>
    <h4>That means it will find the weather for your area automatically!</h4>
    <h5>(None of your data is being collected on this website I am not facebook)</h5>
</body>
{{>footer}}
</html>