<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="./img/favicon.ico">
    <title>{{title}}</title>
    {{>header}}
    <link rel="stylesheet" href="./styles/stylePages.css">
</head>

<body>
    <img src="img/portrait.png" style="width: 250px;">
    <h3>Wake</h4>
    {{>text}}
</body>
{{>footer}}
</html>