<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="./img/favicon.ico">
    <title>{{title}}</title>
    {{>header}}
    <link rel="stylesheet" href="./styles/stylePages.css">

</head>
    <style>
        a{
            text-decoration: none;
            color: black
        }
    </style>
<body>
    <br>
    <span>Having trouble? Look through the help articles</span>
    <a href='/pismo'>to</a>
    <span>find a solution!</span>
</body>
{{>footer}}

</html>