<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="./img/favicon.ico">
    <title>{{title}}</title>
    {{>header}}
    <link rel="stylesheet" href="./styles/stylePages.css">

</head>

<body>
    {{>text}}
</body>
{{>footer}}

</html>